<!-- search_doctors.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Doctors</title>
</head>
<body>
    <h1>Available Doctors</h1>

    {% if available_doctors %}
      <!-- search_doctors.html -->
<!-- search_doctors.html -->
<ul>
    {% for doctor_availability in available_doctors %}
        <li>
            {{ doctor_availability.doctor.username }} -
            {{ doctor_availability.doctor.email }} -
            {{ doctor_availability.specialty }} -
            {{ doctor_availability.clinic_address }} -
            <img src="{{ doctor_availability.doctor_photo.url }}" alt="{{ doctor_availability.doctor.username }} Photo">
        </li>
        <!-- Add other information about the doctor according to your model -->
    {% endfor %}
</ul>


    {% else %}
        <p>Aucun médecin disponible pour le moment.</p>
    {% endif %}
</body>
</html>
